body{
    background-color: darkgrey;
}

.header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgrey;
    background-color: lightpink;
    font-size: 40px;
}
.header div ul {
    display: inline-block;
    margin-left: 25px;
    color: cornsilk;
}

.li {
    margin-left: auto;
    color: pink;
}

