body{
    background-color: lightpink;
}

.header {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgrey;
    background-color: lightpink;
    font-size: 20px;
}

.header ul li {
    margin-right: 10px;
    color: pink;
    display: inline;
}

.content{
    width: 80%;
    display: inline-block;
}

.About-me {
    background-color: lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    color: darkgrey;
}